body {
    font-family: Verdana;
}

header .container-fluid {
    height: 60px;
}

header .container-fluid button {
    margin-top: 11px;
}

header .container-fluid a {
    text-decoration: none
}

ul {
    list-style: none;
}

.main_block {
    padding-bottom: 30px;
}

.main_block h3 {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 18px;
}

.main_block ul {
    padding: 0;
}

.form-group small {
    display: none;
}

#errors {
    display: none;
}

.text-align-center {
    text-align: center;
}

.wrap-form {
    text-align: left;
    margin-top: 20px;
}

form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 25px;
}

.form-group label {
    position: relative;
    left: 12px;
    font-size: 12px;
    top: 17px;
    background: white;
    padding: 0 10px;
}

.wrap-dropdown {
    margin-top: 20px;
    justify-content: center;
}

table {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

table td {
    text-align: left;
}

.thead {
    color: #fff;
}

tbody small {
    color: darkred;
    display: flow-root
}

tbody .btn-admin {
    background-image: url(/pensil.png);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding: 8px 8px;
}

.btn-group button:first-child {
    margin-right: 20px;
}

.btn-group :last-child {
    margin-left: 20px !important;
}


.twocolordiv {
    position: relative;
    z-index: 9;
}

.active {
    color: black !important;
}

.h3 {
    color: #7f8286;
    cursor: pointer;
}

.h3:hover {
    color: #000;
}

.pro_file img {
    width: 100%;
}


.load_file .btn-tertiary {
    color: #555;
    padding: 0;
    line-height: 40px;
    width: 140px;
    margin-left: -10px;
    /*margin: auto;*/
    display: block;
    border: 2px solid #555
}

.load_file .btn-tertiary:hover, .example-2 .btn-tertiary:focus {
    color: #888;
    border-color: #888
}

.load_file .input-file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

.load_file .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    cursor: pointer
}

.load_file .input-file + .js-labelFile .icon:before {
    content: "\f093"
}

.load_file .input-file + .js-labelFile.has-file .icon:before {
    content: "\f00c";
    color: #5aac7b
}
